.nav-link i {
    margin-right: 5px;
}


nav {
    max-height: 100px;
}

footer {
    display: none;
}

#blurblogo {
    max-height: 50px;
}

#blurblogo:hover {
    animation: tilt 1.5s ease-in-out infinite;
}


    .container {
        height: 90vh;
        width: 100%; /* Adjust the width as needed */
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
  

  .card {
    max-width: 600px;
    margin: 20px auto; 
  }
  
  #post-content {
    height: 300px; /* Adjust the height as needed */
    resize: vertical; /* Allow vertical resizing */
  }

  .btn {
    margin: 0 0.5rem;
  }



@keyframes tilt {
    0% {
        transform: rotate(0);
    }

    33% {
        transform: rotate(20deg);
    }

    66% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0);
    }
}

.profile-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    overflow: hidden;
}

@media (max-width: 768px) {
    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
    }


    main {
        padding-bottom: 60px;
    }

    footer {
        display: inline;
    }

    .blurbBar {
        display: none;
    }

}