{{#if posts.length}}
  <section>
    <div class="row align-items-center">
      <h2>Hello, {{post.user.first_name}}{{post.user.last_name}}!</h2>
      
      
    </div>
    <br />
    

  </section>
{{/if}}
<button type="submit" class="btn"><a href="/new-post"><i
      class="bi bi-plus-circle-dotted"
    ></i>POST A BLURB!</a></button>

<script src="/js/newpost.js"></script>
