{{#if posts.length}}
  <section>
    <div class="row align-items-center">
      <h2>Hello, {{username}}!</h2>
      <img src="{{user.profilePicture}}" class="rounded-circle" alt="Profile picture" style="width: 60px; height: 60px;">
      
    </div>
    <br />
    

  </section>
{{/if}}
<button type="submit" class="btn"><a href="/post/new-post"><i
      class="bi bi-plus-circle-dotted"
    ></i>Add New Post</a></button>

{{!-- <script src="js/deletepost.js"></script> --}}
<img src="{{user.profilePicture}}" class="rounded-circle" alt="Profile picture" style="width: 60px; height: 60px;">